<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <itunes library="/Volumes/b2Music/MaxOnNet/iTunes Library.xml"/>
    <yator>
        <cache path="/Volumes/b2Music/Yator/cache/"/>
        <structure path="/Volumes/b2Music/Yator/" minimal_cd="6"/>
    </yator>
    <transcode threads="6" bitrate="256"/>
</configuration>
